@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
*{
   font-family: 'Work Sans', sans-serif;
   margin: 0;
   padding: 0;

}
/* header styles */
header{
   padding: 40px 140px;
   background-color: rgb(253, 252, 253);
}

.navber{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
.navber > ul{
   display: flex;
}
.navber li{
   list-style: none;
  margin-right:30px ;
  font-weight: 500px;
  font-size:1rem;


}
.navber li a{
   text-decoration: none;
   color:  #3C354F;
}
.imge-icon-text{
   display: flex;

}
.imge-icon-text h2{
   font-size: 2.8rem;
   font-weight: 700;
   color: #0B0223;
}
/* banner style */
.banner{
   display: flex;
   justify-content: space-between;
   align-items: center;
  margin-top: 50px;
  

}
.banner-contant{
  
   padding: 5%;

 
}
.banner-title{
   font-size: 38px;
   font-weight: 600;
   color: #0B0223;
  
}
.banner-style-title{
   font-size: 55px;
   font-weight: 800;
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 10px;
}
.banner-description{
   font-size: 20px;
   font-weight: 500;
   color: #534C64;
   margin-top: 10px;
}
.primary-btn{
   padding: 21px 40px;
   
   border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: white;
border: none;
margin-top: 20px;
}
.primary-btn2{
   padding: 21px 40px;
  
   border-radius: 48px;
   border-radius: 48px;
   background: #4EC5F7;
   color: white;
   border: none;
   text-transform: uppercase;
}
.banner-image{
   width: 50%;
}